<?php
return [
		'GO\Core\Config' => [
				'productName' => 'Group-Office 7.0',
        'defaultTimeZone' => 'europe/amsterdam',
				'dataFolder'=>dirname(__FILE__).'/data'
		],
		'GO\Core\Debugger' => [
				'enabled' => true
		],
		'GO\Core\Db\Connection' => [
				'user' => 'root',
				'port' => 3306,
				'pass' => '',
				'database' => 'go7',
				'host' => 'localhost',
		],
		'GO\Core\Validate\ValidatePassword' => [
			'enabled' => true
		],
	
		'GO\Modules\Addressbook\Model\Contact' => [
			'defaultCountry' => 'NL'
		]
];
